@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
}
.main{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    align-items:center;
    justify-content: center;
    width: 90%;
    max-width: 500px;
    margin: 5% auto;
    height: auto;
    background-color: #2B2B2B;
    padding: 60px 20px;
    border-radius: 9px;
    gap: 35px;
}
.main h2{
    position: relative;
    top: -52px;
    color: white;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-size: 2rem;
}
.main h4{
    position: relative;
    bottom: -45px;
    background-color: #414141;
    padding: 15px 100px;
    border-radius: 9px;
    color: #ffffff85;
    font-size: 0.8rem;
}

.main label{
    color: white;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    align-self: stretch;
    font-family:'Courier New', Courier, monospace;
}
.main button{
    border: none;
    border-radius: 9px;
    padding: 14px 50px;
    position: relative;
    bottom: -30px;
    font-size: 14px;
    cursor: pointer;
}

.main button:hover{
    opacity: 0.9;
}
